@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1>@Model.Message</h1>
</div>
<div class="text-center">
    <h4 class="display-4">ASP.NET Core Razor Pages Tutorial</h4>
    <p>Learn about <a href="https://www.pragimtech.com/courses/asp-net-core-razor-pages-tutorial-for-beginners/">building Web apps with ASP.NET Core</a> with Pragim Technologies.</p>
</div>
